
@{
    ViewData["Title"] = "GetDemo";
}

<h1>GetDemo</h1>
<div class="alert alert-info" id="div1"></div>



@section Styles{

}

@section Scripts{
    <script>
        //步驟一建立Ajax物件  XMLHttpRequest、fetch()、jQuery、axios.....
        const xhr = new XMLHttpRequest();

        //步驟二對伺服器發出要求
        // xhr.open('GET','/api/index',false);  //false 表示改成同步的執行模式
        // xhr.open('GET', '/api/getdemo?name=Mary&age=28')
        const name = "Jack";
        const age = 25;
        //  xhr.open('GET', '@Url.Content("/api/getdemo")?name=Mary&age=28')
        xhr.open('GET', `@Url.Content("/api/getdemo")?name=${name}&age=${age}`)


        xhr.send();

        //步驟三接收伺服器回傳的結果
        xhr.addEventListener('load', () => {
            const data = xhr.responseText;
            //console.log("data", data)
            //步驟四讀出資料
            //步驟五顯示資料在網頁上
            //要找到想要控制的標籤
            document.querySelector('#div1').innerHTML = `<h3>${data}</h3>`

        })


    </script>
}
