@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>
<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        @*   <form action="~/api/getdemo" method="post">*@
        <form id="form1">
            <div class="mb-3">
                <label for="userName" class="form-label">User Name：</label>
                <input type="text" class="form-control" id="userName" name="Name">
                <div id="NameMesssage" class="alert alert-warning"></div>
            </div>
            <div class="mb-3">
                <label for="UserEmail" class="form-label">User Email：</label>
                <input type="email" class="form-control" id="UserEmail" name="Email">
            </div>
            <div class="mb-3">
                <label for="userAge" class="form-label">User Age：</label>
                <input type="number" class="form-control" id="userAge" name="Age">
            </div>
            <div class="mb-3">
                <label for="formFile" class="form-label">Photo：</label>
                <input class="form-control" type="file" id="formFile" name="file">
            </div>

            <button id="button1" type="submit" class="btn btn-primary">送出</button>
        </form>
        <div class="alert alert-info" id="div1"></div>
    </div>
    <div class="col-3">
        <a href="https://www.ispan.com.tw" id="a1">ispan</a>

    </div>
</div>

@section Styles{
    <style></style>
}

@section Scripts{
    <script>
        const btn = document.querySelector('#button1');
        const theA = document.querySelector('#a1')
        //const txtName = document.querySelector('#userName')
        //const txtAge= document.querySelector('#userAge')
        const theDiv = document.querySelector('#div1')

        btn.addEventListener('click', event => {
            event.preventDefault(); //防止預設行為的發生

            //  const xhr = new XMLHttpRequest();
            ////  xhr.open('POST', '/api/Register');
            //  xhr.open('POST', '@Url.Content("/api/Register")')
            //  //xhr.setRequestHeader('Content-Type','application/x-www-form-urlencoded')
            //  //xhr.send(`name=${txtName.value}&age=${txtAge.value}`);

            //  //改用FormData
            //  const formData = new FormData(document.querySelector('#form1'));
            //  xhr.send(formData);


            //  xhr.addEventListener('load',()=>{
            //      const data = xhr.responseText;
            //      theDiv.innerHTML = data;
            //  })


            //改用 fetch 傳送FormData到server端
            const formData = new FormData(document.querySelector('#form1'));
            fetch('@Url.Content("/api/register")', {
                body: formData,
                method: 'POST'
            })
                .then(response => {
                    if (response.ok) {
                        alert("新增成功")
                        location.href = '@Url.Content("/members")'
                    } else {
                        alert("有錯誤!!")
                    }
                })

        })

        theA.addEventListener('click', event => {
            if (!window.confirm("真的要去嗎??")) {
                event.preventDefault();
            }
        })

    </script>
}
